<nav></nav>

<label for="search-box" class="search-box typing">
  <input id="search-box" ng-model="searchText" placeholder="Filter" list="items" ng-change="searchChange()" uib-typeahead="x.name for x in items | filter:{name: $viewValue} | limitTo:5" typeahead-show-hint="true" typeahead-on-select="searchChange()" />
  <label for="search-box" class="x-icon">
    <svg viewbox="0 0 16 16" ng-click="clearSearch()">
      <line x1="0" x2="16" y1="0" y2="16" stroke-width="1"/>
      <line x1="0" x2="16" y1="16" y2="0" stroke-width="1"/>
    </svg>
  </label>
</label>

<div ng-include="template.categoryUrl"></div>

<div ng-include="template.detailsUrl"></div>