<nav></nav>

<label for="search-box" class="search-box" ng-class="{typing: typing}">
  <input id="search-box" ng-model="searchText" placeholder="Search" list="items" ng-change="searchChange()" uib-typeahead="x.name for x in items | filter:{name: $viewValue} | orderBy:name.length | limitTo:5" typeahead-show-hint="true" typeahead-on-select="searchChange()" />
  <label for="search-box" class="x-icon">
    <svg viewbox="0 0 16 16" ng-click="clearSearch()">
      <line x1="0" x2="16" y1="0" y2="16" stroke-width="1"/>
      <line x1="0" x2="16" y1="16" y2="0" stroke-width="1"/>
    </svg>
  </label>
</label>

<div ng-include="template.detailsUrl"></div>


<div class="footer">
  <div class="pane-toggle pane-toggle-info" ng-click="togglePane('info')">
    <svg height="32" width="32" viewbox="0 0 32 32">
      <line x1="0.5" x2="31.5" y1="31.5" y2="31.5" stroke-width="1" />
      <line x1="0.5" x2="0.5"  y1="0.5" y2="31.5" stroke-width="1"/>
    </svg>
  </div>
</div>

<div ng-include="template.paneInfoUrl"></div>