<div class="table">
  <table>
    <tr>
      <th class="save-icon"></th>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('type')">Type</th>
      <th ng-click="sortBy('cost')">Cost</th>
      <th ng-click="sortBy('ac')">AC</th>
      <th ng-click="sortBy('str')">Str</th>
      <th ng-click="sortBy('stealth')">Stealth</th>
      <th ng-click="sortBy('weight')">Weight</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText"  ng-switch on="x.str">
      <td class="save-icon" ng-class="{'selected':itemWasSaved(x)}">
        <svg height="16" width="16" ng-click="saveItem(x)" title="save">
          <circle cx="7" cy="7" r="6" stroke-width="1" />
        </svg>
      </td>
      <td><a ng-href="category/armor/{{ x.name | url_escape }}">{{ x.name }}</a></td>
      <td><a ng-href="category/armor/{{ x.type | url_escape }}">{{ x.type }}</a></td>
      <td>{{ x.cost | money }}</td>
      <td>{{ x.ac }}</td>
      <td style="text-align:center">
        <span ng-switch-when="0">&mdash;</span>
        <span ng-switch-default="0">{{ x.str }}</span>
      </td>
      <td><a ng-href="category/armor/{{ x.stealth | url_escape }}">{{ x.stealth }}</a></td>
      <td>{{ x.weight }} lbs</td>
    </tr>
  </table>
</div>