<div class="table">
  <table>
    <tr>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('proficiency')">Skill proficiencies</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText">
      <td><a ng-href="category/backgrounds/{{ x.name | url_escape }}">{{ x.name }}</a></td>
      <td>
        <span ng-repeat="proficiency in x.proficiencies">
          <a ng-href="category/backgrounds/{{ x.name | url_escape }}">{{ proficiency }}</a><span ng-if="!$last">, </span>
        </span>
      </td>
    </tr>
  </table>
</div>