<div class="table">
  <table>
    <tr>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('category')">Category</th>
      <th ng-click="sortBy('cost')">Cost</th>
      <th ng-click="sortBy('weight')">Weight</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText"  ng-switch on="x.str">
      <td><span class="item-select" ng-click="selectItem(x.name)">{{ x.name }}</span></td>
      <td><span class="item-select" ng-click="selectItem(x.category)">{{ x.category }}</span></td>
      <td>{{ x.cost | money }}</td>
      <td>{{ x.weight }} lbs</td>
    </tr>
  </table>
</div>