<div class="table">
  <table>
    <tr>
      <th class="save-icon" rowspan="2"></th>
      <th ng-click="sortBy('name')" rowspan="2">Name</th>
      <th ng-click="sortBy('size')" rowspan="2">Size</th>
      <th ng-click="sortBy('speed')" style="text-align: center;" rowspan="2">Speed</th>
      <th style="text-align:center; border-bottom: none; padding:0;" colspan="6">— Ability score increases —</th>
    </tr>
    <tr>
      <th ng-click="sortBy('abilities.Str')" style="text-align: center;">Str</th>
      <th ng-click="sortBy('abilities.Dex')" style="text-align: center;">Dex</th>
      <th ng-click="sortBy('abilities.Con')" style="text-align: center;">Con</th>
      <th ng-click="sortBy('abilities.Int')" style="text-align: center;">Int</th>
      <th ng-click="sortBy('abilities.Wis')" style="text-align: center;">Wis</th>
      <th ng-click="sortBy('abilities.Cha')" style="text-align: center;">Cha</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText">
      <td class="save-icon {{ x.selected }}">
        <svg height="16" width="16" ng-click="saveItem(x)" title="save">
          <circle cx="7" cy="7" r="6" stroke-width="1" />
        </svg>
      </td>
      <td><a ng-href="category/races/{{ x.name | url_escape }}">{{ x.name }}</a></td>
      <td><a ng-href="category/races/{{ x.size | url_escape }}">{{ x.size }}</a></td>
      <td style="text-align: center;">{{ x.speed }}</td>
      <td style="text-align: center;">{{ x.abilities.Str }}</td>
      <td style="text-align: center;">{{ x.abilities.Dex }}</td>
      <td style="text-align: center;">{{ x.abilities.Con }}</td>
      <td style="text-align: center;">{{ x.abilities.Int }}</td>
      <td style="text-align: center;">{{ x.abilities.Wis }}</td>
      <td style="text-align: center;">{{ x.abilities.Cha }}</td>
    </tr>
  </table>
</div>