<div class="table">
  <table>
    <tr>
      <th class="save-icon"></th>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('level')">Level</th>
      <th ng-click="sortBy('school')">School</th>
      <th ng-click="sortBy('time')">Time</th>
      <th ng-click="sortBy('duration')">Duration</th>
      <th ng-click="sortBy('range')">Range</th>
      <th ng-click="sortBy('components')">Components</th>
      <th ng-click="sortBy('classes')">Classes</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText">
      <td class="save-icon {{ x.selected }}">
        <svg height="16" width="16" ng-click="saveItem(x)" title="save">
          <circle cx="7" cy="7" r="6" stroke-width="1" />
        </svg>
      </td>
      <td><a ng-href="category/spells/{{ x.name | url_escape }}">{{ x.name }}</a></td>
      <td>{{ x.level }}</td>
      <td><a ng-href="category/spells/{{ x.school | url_escape }}">{{ x.school }}</a></td>
      <td><a ng-href="category/spells/{{ x.time | url_escape }}">{{ x.time }}</a></td>
      <td><a ng-href="category/spells/{{ x.duration | url_escape }}">{{ x.duration }}</a></td>
      <td><a ng-href="category/spells/{{ x.range | url_escape }}">{{ x.range }}</a></td>
      <td>
        <span ng-repeat="comp in x.cmpnts">
          <span ng-if="comp == 'M '" title="{{ x.material_components }}">{{ comp }}</span>
          <span ng-if="comp != 'M '">{{ comp }}</span><span ng-if="!$last">, </span>
        </span>
      </td>
      <td>
        <span ng-repeat="class in x.classes">
          <a ng-href="category/spells/{{ class | url_escape }}">{{ class }}</a><span ng-if="!$last">, </span>
        </span>
      </td>
    </tr>
  </table>
</div>