<div class="table">
  <table>
    <tr>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('level')">Level</th>
      <th ng-click="sortBy('school')">School</th>
      <th ng-click="sortBy('time')">Time</th>
      <th ng-click="sortBy('duration')">Duration</th>
      <th ng-click="sortBy('range')">Range</th>
      <th ng-click="sortBy('components')">Components</th>
      <th ng-click="sortBy('classes')">Classes</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText">
      <td><span class="item-select" ng-click="selectItem(x.name)">{{ x.name }}</span></td>
      <td>{{ x.level }}</td>
      <td>{{ x.school }}</td>
      <td>{{ x.time }}</td>
      <td>{{ x.duration }}</td>
      <td>{{ x.range }}</td>
      <td>
        <span ng-repeat="comp in x.cmpnts">
          <span ng-if="comp == 'M '" title="{{ x.material_components }}">{{ comp }}</span>
          <span ng-if="comp != 'M '">{{ comp }}</span><span ng-if="!$last">, </span>
          
        </span>
      </td>
      <td>
        <span ng-repeat="class in x.classes" class="item-select" ng-click="selectItem(class)">
          {{ class }}<span ng-if="!$last">, </span>
        </span>
      </td>
    </tr>
  </table>
</div>