<div class="table">
  <table>
    <tr>
      <th ng-click="sortBy('name')">Name</th>
      <th ng-click="sortBy('type')">Type</th>
      <th ng-click="sortBy('cost')">Cost</th>
      <th ng-click="sortBy('avg_damage')">Damage</th>
      <th ng-click="sortBy('damage_type')">Damage Type</th>
      <th ng-click="sortBy('weight')">Weight</th>
      <th ng-click="sortBy('range_short')">Range</th>
      <th>Properties</th>
    </tr>
    <tr ng-repeat="x in items | orderBy:sortProperty:reverse | filter:searchText">
      <!-- <td><span class="item-select" ng-click="selectItem(x.name)">{{ x.name }}</span></td> -->
      <td><a class="item-select" ng-href="category/weapons/{{ x.name | url_escape }}">{{ x.name }}</a></td>
      <td><span class="item-select" ng-click="selectItem(x.type)">{{ x.type }}</span></td>
      <td>{{ x.cost | money }}</td>
      <td><span class="item-select" ng-click="selectItem(x.damage)">{{ x.damage }}</span>
        {{ x.versatile_damage ? " / " : "" }}
        <span class="item-select" ng-click="selectItem(x.versatile_damage)">{{ x.versatile_damage ?  x.versatile_damage : "" }}</span></td>
      <td><span class="item-select" ng-click="selectItem(x.damage_type)">{{ x.damage_type }}</span></td>
      <td>{{ x.weight }} lbs</td>
      <td>{{ x.range }}</td>
      <td>
        <span ng-repeat="property in x.properties" class="item-select" ng-click="selectItem(property)">{{ property }}<span ng-if="!$last">, </span></span>
        
      </td>
    </tr>
  </table>
</div>