<div class="details">
  
  <p class="category">armor</p>

  <div class="body">
    <h1>{{ selectedItem.name }}</h1>

    <p class="item-type">{{ selectedItem.type }}</p>
    <p class="text"><span class="key">Armor Class:</span> {{ selectedItem.ac }}</p>
    
    <p class="text">{{ selectedItem.str == "0" ? "" : "Requires strength " + selectedItem.str }}</p>
    
    <p class="flavour text">{{ selectedItem.stealth === "Disadvantage" ? "Disadvantage on stealth checks." : "No disadvantage on stealth." }}</p>
  </div>
  <div class="section">
    <p class="weight">{{ selectedItem.weight }} lbs</p>
    <p class="cost">{{ selectedItem.cost | money }}</p>
  </div>
</div>