<div class="details">
  
  <p class="category">spell</p>

  <div class="body">
    <h1>{{ selectedItem.name }}</h1>

    <p class="item-type">Level {{ selectedItem.level }} {{ selectedItem.school }}</p>
    
    <p class="text"><span class="key">Components: </span> {{ selectedItem.components }}</p>
    <p class="text" ng-repeat="text in selectedItem.text | make_array">{{ text }}</p>
  </div>
  <div class="section">
    <p class="weight">{{ selectedItem.weight }} lbs</p>
    <p class="cost">{{ selectedItem.cost | money }}</p>
  </div>
</div>