<div class="details">
  
  <p class="category">weapon</p>

  <div class="body">
    <h1>{{ selectedItem.name }}</h1>

    <p class="item-type">{{ selectedItem.type }}</p>
    <p class="text"><span class="key">{{ selectedItem.damage }} {{ selectedItem.damage_type }}</span> damage</p>

    <div class="tag-group">
      <div class="tag" ng-repeat="prop in selectedItem.properties" ng-switch on="prop">
        <span ng-switch-when="ammunition">{{ prop }} (range {{ selectedItem.range }})</span>
        <span ng-switch-when="thrown">{{ prop }} (range {{ selectedItem.range }})</span>
        <span ng-switch-when="versatile">{{ prop }} ({{ selectedItem.versatile_damage }})</span>
        <span ng-switch-when="special" title="{{ selectedItem.special }}">{{ prop }}</span>
        <span ng-switch-default="special">{{ prop }}</span>
      </div>
    </div>
    
  </div>
  <div class="section">
    <p class="weight">{{ selectedItem.weight }} lbs</p>
    <p class="cost">{{ selectedItem.cost | money }}</p>
  </div>
</div>