$white: #fafafb;
$bggrey: #f2f3f4;
$bordergrey: #d3d4d5;

$black: #333339;

$linkgrey: #c0c0c2;
$textgrey: darken(#c0c0c2, 15%);
$linkhover: #BB2222;

$red: #BB2222;

$DIN: "DIN", "DIN Alternate";
$palatino: Palatino, serif;

$responsiveWidth: 840px;