// global

* {
  transition: all 0.5s ease;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,ul,ol,p {
  margin: 0;
  padding: 0;
}

// page
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", Futura, sans-serif;
  color: $black;
}
a {
  color: $linkgrey;
  text-decoration: none;
  
  &:hover {
    color: $linkhover;
  }
}
.selected a, a.selected {
  color: $linkhover;
}



// header
$nav-height: 48px;

header {
  height: $nav-height;
  border-bottom: 1px solid $bordergrey;
  padding: 0 16px;
  
  h1 {
    float: left;
    margin: 0;
    
    a {
      display: block;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 16px 0 72px;
      
      letter-spacing: 1px;
      font-size: 20px;
      text-transform: uppercase; 
      font-weight: normal;
      
      color: $linkgrey;
      
      background: url('../../assets/img/dragon.svg') no-repeat 16px center;
      background-size: 48px;
    }
  }
  
  ul {
    float: right;
    margin: 0;
    padding: 0;
    
    li {
      float: left;
      list-style: none;
      
      a {
        display: block;
        height: $nav-height;
        line-height: $nav-height;
        padding: 0 16px;
        
        text-transform: uppercase; 
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }
}

// search box

.search-box {
  display: block;
  padding: calc((100vh - 49px - 51px) / 2) 0;
  background: $bggrey;
  
  &.typing {
    padding: 12.5vh 0;
  }
  
  input {
    display: block;
    height: 50px;
    width: 100%;
    
    padding: 8px 16px;
    
    font-size: 24px;
    
    background: none;
    color: $black;
    
    font-family: "DIN", "DIN Alternate";
    
    -webkit-appearance: none;
    border: 1px solid $bordergrey;
    border-width: 0 0 1px 0;
    border-radius: 0;
    
    &:focus {
      border-color: $black;
      outline: none;
    }
  }
  > div {
    margin: 0 auto;
    width: 480px;
    max-width: 90%;
    position: relative;
    input:first-child {
      position: relative !important;
      top: 50px !important;
      margin-top: -50px !important;
      left: auto !important;
      background: none !important;
      color: $linkgrey !important;
    }
  }
  
  .open > .dropdown-menu {
    display: block;
  }
  .open > a {
    outline: 0;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background: #fff;
    font-size: 16px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            
    width: 100%;
    border: none;
    border-radius: 0 0 4px 4px;
    font-family: "DIN", "DIN Alternate";
    margin-top: 0;
    
    > li > a {
      display: block;
      clear: both;
      font-weight: normal;
      line-height: 1.5;
      white-space: nowrap;
      
      padding: 6px 18px;
      color: $linkgrey;
      strong {
        color: $black;
        font-weight: bold;
      }
    }
    
    >.active>a, >.active>a:focus, >.active>a:hover {
      
      background: $white;
      color: $linkgrey;
      color: $black;
      transition: color 0.25s ease;
      strong {
        color: $black;
      }
    }
    
    &, & * {
      transition: none;
    }
  }
}