// global

* {
  transition: all 0.5s ease;
  box-sizing: border-box;
}

// page
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", Futura, sans-serif;
  color: $black;
}
a {
  color: $linkgrey;
  text-decoration: none;
  
  &:hover {
    color: $linkhover;
  }
}
.selected a, a.selected {
  color: $linkhover;
}



// header
$nav-height: 48px;

header {
  height: $nav-height;
  border-bottom: 1px solid $bordergrey;
  padding: 0 16px;
  
  h1 {
    float: left;
    margin: 0;
    
    a {
      display: block;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 16px;
      
      letter-spacing: 1px;
      font-size: 20px;
      text-transform: uppercase; 
      font-weight: normal;
      
      color: $linkhover;
    }
  }
  
  ul {
    float: right;
    margin: 0;
    padding: 0;
    
    li {
      float: left;
      list-style: none;
      
      a {
        display: block;
        height: $nav-height;
        line-height: $nav-height;
        padding: 0 16px;
        
        text-transform: uppercase; 
        font-size: 12px;
        letter-spacing: 1px;
      }
    }
  }
}

// search box

.search-box {
  padding: calc((100vh - 49px - 51px) / 2) 0;
  background: $bggrey;
  
  &.typing {
    padding: 12.5vh 0;
  }
  
  input {
    display: block;
    height: 50px;
    width: 100%;
    
    padding: 8px 16px;
    
    font-size: 24px;
    
    background: none;
    color: $black;
    
    font-family: "DIN", "DIN Alternate";
    
    -webkit-appearance: none;
    border: 1px solid $bordergrey;
    border-width: 0 0 1px 0;
    
    &:focus {
      border-color: $black;
      outline: none;
    }
  }
  > div {
    margin: 0 auto;
    width: 480px;
    max-width: 90%;
    position: relative;
    input:first-child {
      background: none !important;
      color: $linkgrey !important;
    }
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto;
  }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
  }
  .dropdown-menu > .disabled > a,
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    color: #777;
  }
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  .open > .dropdown-menu {
    display: block;
  }
  .open > a {
    outline: 0;
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .dropdown-menu-left {
    right: auto;
    left: 0;
  }
  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
  }
  .dropdown-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 990;
  }
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
  .dropup .caret,
  .navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
  }
  .dropup .dropdown-menu,
  .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
  
  .dropdown-menu {
    width: 100%;
    border: none;
    border-radius: 0 0 4px 4px;
    font-family: "DIN", "DIN Alternate";
    margin-top: 0;
    
    > li > a {
      padding: 6px 18px;
      color: $linkgrey;
      strong {
        color: $black;
        font-weight: bold;
      }
    }
    
    >.active>a, >.active>a:focus, >.active>a:hover {
      
      background: $white;
      color: $linkgrey;
      color: $black;
      transition: color 0.25s ease;
      strong {
        color: $black;
      }
    }
    
    &, & * {
      transition: none;
    }
  }
}