.save-pane-toggle { 
  
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 11;
  
  padding: 8px;
  
  height: 48px;
  width: 48px;
  
  svg {
    stroke: $linkgrey;
    // stroke: $black;
    transition: stroke 0.5s ease;
    display: block;
  }
  
  &:hover {
    cursor: pointer;
    
    svg {
      stroke: $black;
      
    }
  }
}

.pane-saved {
  position: fixed;
  top: 0;
  z-index: 10;
  
  height: 100%;
  width: 320px;
  
  right: -320px;
  transition: right 0.5s ease;
  
  background: yellow;
  
  &.open {
    right: 0;
  }
  
  table {
    width: 100%;
  }
}