.pane-toggle {
  
  position: fixed;
  bottom: 0;
  z-index: 11;
  
  padding: 8px;
  
  height: 48px;
  width: 48px;
  
  &.pane-toggle-save {
    right: 0;
  }
  &.pane-toggle-info {
    left: 0;
  }
  
  svg {
    stroke: $linkgrey;
    // stroke: $black;
    transition: stroke 0.5s ease;
    display: block;
  }
  
  &:hover {
    cursor: pointer;
    
    svg {
      stroke: $black;
      
    }
  }
}

.pane {
  position: fixed;
  top: 0;
  z-index: 10;
  
  overflow-y: auto;
  
  height: 100vh;
  width: 320px;
  
  padding: 16px;
  
  background: $white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .085);
  
  table {
    width: 100%;
    
    .item-type {
      font-size: 14px;
      font-family: $palatino;
      font-style: italic;
      text-align: right;
      a {
        color: $textgrey;
      }
    }
    .save-icon {
      padding-right: 0;
      
      svg {
        display: block;
        height: 18px;
        width: 18px;
        padding: 5px;
        
        stroke: $linkgrey;
        fill: none;
        transition: stroke 0.5s ease;
      }
      
      &:hover {
        cursor: pointer;
        
        svg {
          stroke: $black;
          
        }
      }
    }
  }
  
  h2 {
    margin-bottom: 32px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
  }
  p, ul, ol {
    font-family: $palatino;
    font-size: 14px;
    margin-bottom: 1em;
    line-height: 1.4;
    
    a {
      color: $red;
      font-family: "gill sans", futura, sans-serif;
      border-bottom: 2px solid transparent;
      transition: border-color 0.5s ease;
      &:hover {
        border-color: $red;
      }
    }
  }
  
  .x-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    
    svg {
      position: absolute;
      top: 0;
      right: 0;
      
      height: 16px; 
      width: 16px;
      
      stroke: $linkgrey;
      
      cursor: pointer;
      transition: stroke 0.5s ease;
      
      &:hover {
        stroke: $black;
      }
      
    }
  }
}
.pane-save {
  right: -320px;
  transition: right 0.5s ease;
  
  &.open {
    right: 0;
  }
}
.pane-info {
  left: -320px;
  transition: left 0.5s ease;
  
  &.open {
    left: 0;
  }
}