.table {
  margin: 0 32px;
  overflow-x: scroll;
    
  // hide scrollbar
  &::-webkit-scrollbar {
      height: 0px;  /* remove scrollbar space */
      background: transparent;  /* optional: just make scrollbar invisible */
  }
  -ms-overflow-style: none;
}

table {
  font-family: "DIN", "DIN Alternate";
  font-size: 15px;
  border-collapse: collapse;
  max-width: 100%;
  box-sizing: border-box;
  //margin: 48px auto;
  margin: 0 auto;
  margin-bottom: 48px;
  
  th {
    border-bottom: 2px solid $black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Gill Sans", Futura, sans-serif;
    vertical-align: bottom;
    text-align: left;
    padding: 2px 16px;
    user-select: none;
  }
  
  td {
    border-bottom: 1px solid #ccc;
    padding: 6px 16px;
  }
  th, .item-select, a {
    color: $black;
    cursor: pointer;
    
    transition: color 0.25s ease;
    
    &:hover {
      color: $red;
    }
  }
}

@media(max-width: $responsiveWidth) {
  .table {
    margin: 0 16px;
  }
  table {
    font-size: 13px;
    
    th {
      font-size: 12px;
      padding: 2px 8px;
    }
    td {
      border-bottom: 1px solid #ccc;
      padding: 4px 8px;
    }
  }
}