<div class="pane pane-info" ng-class="{'open':panes.info}">
  
  <div class="x-icon">
    <svg height="16" width="16" ng-click="togglePane('info')">
      <line x1="0" x2="16" y1="0" y2="16" stroke-width="1"></line>
      <line x1="0" x2="16" y1="16" y2="0" stroke-width="1"></line>
    </svg>
  </div>
  
  <h2>Opus Draconis</h2>
  
  <p>This tool is a reference of all things D&amp;D 5E. Search the entire library or browse and filter specific categories.</p>
  <p>If you find this tool useful, please share it with your friends!</p>
  
  <p>Created by <a href="https://twitter.com/kathrynhartog" target="_blank">Kat EV</a></p>
  <p>View the source on <a href="https://github.com/stormreaever/dnd-ref" target="_blank">GitHub</a></p>
  
</div>